$cell-size: 150px;
$cell-enter-distance: 20vh;
$cell-enter-duration: 500ms;
$cell-mark-duration: 200ms;

.tictactoe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tictactoe-cell {
  height: $cell-size;
  width: $cell-size;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 16px;
  position: relative;
  transition: background-color 100ms;

  P {
    margin: 0;
    font-size: 8px;
  }

  &:hover {
    background-color: rgb(164, 173, 189);
    cursor: pointer;
  }
}

img.cell-mark {
  height: $cell-size*0.8;
  width: $cell-size*0.8;
}