@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

$cell-size: 15vh;
$cell-enter-distance: 20vh;
$cell-enter-duration: 500ms;
$cell-mark-duration: 200ms;

$worker-size: 5vh;

.santorini-cell {
  height: $cell-size;
  width: $cell-size;
  border: 3px;
  border-style: solid;
  border-color: #BBBBBB;
  border-radius: 0px;
  background-color: #FFFFFF;
  position: relative;
  transition: background-color 100ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  p {
    margin: 0;
    font-size: 60px;
  }

  &:hover {
    cursor: pointer;
  }
}

.move-highlighted {
  background-color: #DDDDDD;
}

.build-highlighted {
  background-color: #CCCCCC;
}

$elevation-size-offset: $cell-size * (1/6);
$elevation-base-size: $cell-size;
@mixin building-style($elevation) {
  border: 0px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $elevation-base-size - $elevation-size-offset * $elevation;
  width: $elevation-base-size - $elevation-size-offset * $elevation;
  position: relative;
  z-index: 2;
}

.elevation-1 {
  @include building-style(1);
  background-color: #333333;
}

.elevation-2 {
  @include building-style(2);
  background-color: #777777;
}

.elevation-3 {
  @include building-style(3);
  background-color: #CCCCCC;
}

.elevation-4 {
  height: $cell-size;
  width: $cell-size;
  position: relative;
  z-index: 5;
}

.worker {
  &-red {
    position: relative;
    @include building-style(3);
    background-color: rgb(255, 97, 97);
  }
  &-blue {
    position: relative;
    @include building-style(3);
    background-color: rgb(144, 144, 255);
  }
}


.menu-button {
  display: block;
  font-family: 'Comfortaa', cursive;

  margin-top: 20px;
  font-size: 2vh;
  padding: 2vh;

  border-color:rgb(0, 0, 0);
  border: 1px;
  border-style: solid;
  border-radius: 0vh;
  cursor: pointer;
}

.menu-link {
  display: block;
  font-family: 'Comfortaa', cursive;
  color: gray;

  margin-top: 20px;
  font-size: 1.5vh;
  padding: 1vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
